@import url('https://fonts.cdnfonts.com/css/lato');
.single-news-header{
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    padding: 2em 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 45%);
}
.single-news-header h1{
    color: white;
    padding-bottom: 15px;border-bottom: 1px rgba(255, 255, 255, 0.295) solid;
}
.single-news-header .date-share{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.single-news-header .date-share p{
    color: white;
}
.single-news-header .news-share{
    display: flex;
}
.single-news-header .news-share p{
    padding-right: 5px;
    font-weight: 600;
}
.single-news-header .news-share ul{
    display: flex;
}
.single-news-header .news-share ul li{
    padding-left: 15px;
}
.single-news-header .news-share ul li a{
    color: white;
}
.single-news-content-wrapper{
    width:100%;
    float: left;
}
.single-news-content{
    padding: 5em 0 6em;
}
.single-news-content p{
    padding-bottom: 15px;
}


.mobile-navigation {
    width: 100%;
    float: left;
    background-color: var(--color1);
    position: relative;
    padding: 0 0 0;
    display: none;
  }
  
  .visible-mobile {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 7px;
    align-items: center;
  }
  
  .mobile-logo-wrapper img {
    width: 50px;
    margin: unset;
  }
  
  .mobile-search {
    width: 100%;
    float: left;
    position: relative;
  }
  
  .mobile-search input {
    width: 100%;
    float: left;
    background-color: #9aa7c2;
    border: none;
    padding: 1.5em 5em 1.5em 1.5em;
  }
  
  .mobile-search button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color1);
    /* width: 2.3em;
      height: 2.3em; */
    border: none;
    margin: auto;
    text-align: center;
    color: #9aa7c3;
    padding: 0 0 1px 1px;
    cursor: pointer;
    transition: all 0.9s ease;
    font-size: 16px;
    padding: 0 15px 0 15px;
  }
  
  .mobile-search button:hover {
    background-color: var(--color2);
    color: var(--color1);
    transition: all 0.9s ease;
  }
  
  .mobile-navigation ul {
    width: 100%;
    margin: auto;
    padding: 0px 0 0 0;
    float: left;
    background-color: #eaeaea;
  }
  
  .mobile-navigation ul li {
    display: block;
    width: 100%;
    float: left;
    text-align: left;
    /* border-bottom: 1px solid #b5c11a; */
  }
  
  .mobile-navigation ul li a {
    color: var(--color1);
    text-transform: uppercase;
    font-weight: 600;
    padding: 14px 20px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #dadada;
    font-size: 16px;
    color: #333;
  }
  
  
  .hidden-mobile {
    width: 100%;
    float: left;
    display: none;
  }
  
  .drop-bars {
    float: right;
    padding: 0 2%;
    color: #ffffff;
    font-size: 2em !important;
    cursor: pointer;
  }
  
  #toggle {
    display: none;
  }
  
  #cross {
    display: none;
  }
  
  #toggle + label {
    width: auto;
  }
  
  #toggle + label:before {
    display: none;
  }
  
  #toggle + label:after {
    display: none;
  }
  
  #toggle + label i {
    font-size: 2em;
    color: var(--color4);
    color: white;
  }
  
  #toggle:checked + label i#bars {
    display: none;
  }
  
  #toggle:checked + label i#cross {
    display: block;
  }
  
  #toggle:checked ~ #menu {
    height: 85px;
  }
  
  .mobile-droplist a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hidden-mobile .mobile-dropdown {
    background: #eff3f4;
    display: none;
  }
  .home-banner-content {
    position: absolute;
    left: unset;
    transform: unset;
    top: 0;
    width: 100%;
    bottom: 0;
    padding: 2em 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}  

.top-weekly-teams ul{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.home-content-right{
    width: 30%;
}
.latest-news ul li a{
    background: #F1F1F3;
}






.previous-matches ul{
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:20px;
  padding: 0 10px;
}
.previous-matches ul li{
  margin: 0;
}
.county-filter{
  width: unset;
  width: 80%;
}
.team-banner-wrapper .matches-banner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7.5%;
  display: flex;
  align-items: center;
}
.supercup-table tbody td{
  padding: 12px 5px;
  text-align: center;
}
.supercup-table thead th{
  padding: 12px 5px;
  text-align: center;
}
.supercup-table thead th:first-child{
  padding-left: 12px;
}
.stats-wrapper{
  width: 80%;
}
.stats-wrapper .stats-group td{
  width: 25%;
}
.stats-wrapper .stats-group td:first-child{
  width: 50%;
}
.stats-wrapper .stats-group th{
  width: 25%;
}
.stats-wrapper .stats-group th:first-child{
  width:50%;
}
.county-fixtures-wrapper .squad-wrapper .squad-group ul{
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}















@media handheld, only screen and (max-width: 1400px) {
    .home-content{
        flex-wrap: wrap;
    }
    .home-content-left{
        width: 100%;
    }
    .home-content-right{
        width:100%;
    }
}
@media handheld, only screen and (max-width: 1200px) {
  .about-content-wrapper{grid-template-columns: 1fr;}
  .about-content-wrapper .about-video iframe{min-height: 400px;}
}

@media handheld, only screen and (max-width: 960px) {
    .mobile-navigation{display: block;}
    .desktop-navigation{display: none;}
    .home-banner-content{padding:2em 20px;}
    .home-banner-content h1{padding-bottom: 10px;font-size: 1.4em;}
    .home-banner-content p{font-size: 14px;}
    .home-content-wrapper{padding: 2em 0 3em;}
    .container-flexible{width: 100%;padding: 0 10px;}
    .upcoming-fixtures h2{padding-bottom: 10px;}
    body h2{font-size: 18px;}
    .upcoming-fixtures{padding-bottom: 2em;}
    .about-content-wrapper{padding: 30px 20px;gap: 20px;}
    .about-prizes-wrapper{padding:3em;}
    footer{padding:20px;}
    .top-weekly-teams{padding: 20px;}
    .teams-wrapper{padding: 10px 0;}
    .team-banner-wrapper .team-banner-content{position: unset;transform: none;padding: 20px;}
    .team-banner-wrapper .team-banner-content figure{background: #E1EFD7;}
    .team-banner-wrapper .team-banner-content .team-banner-details h1{color:#555;font-size: 35px;}
    .team-banner-wrapper .team-banner-content .team-banner-details .team-socials p{color: #666;}
    .team-banner-wrapper .team-banner-content .team-banner-details{border-color: #d9d9d9;}
    .table-tab-wrapper .previous-matches{padding: 2em 0!important;}
    .supercup-table h2{padding-bottom: 5px;}
    .team-details-tabs-wrapper .upcoming-fixtures{padding: 2em 10px!important;}
    .latest-videos{padding: 30px 20px;}
    .latest-videos ul{gap: 20px;grid-template-columns: 1fr;}
    .latest-videos h2{padding-bottom: 10px;}
    .latest-videos ul li iframe{min-height: 400px;}
    .squad-coach{padding: 20px 0;}
    .squad-coach .coach-details h3{font-size: 1.4em;}
    .squad-coach figure{width: 70px;height: 70px;}
    .squad-group{padding-top: 2em;}
    .squad-wrapper{padding: 0 20px 30px;}
    .squad-group ul li h4{padding: 10px;}
    .supercup-table tbody td:nth-child(2){min-width: 100%;}
    .team-banner-wrapper .matches-banner-content {position: absolute;transform: translateY(-50%);left: 0;}
    .county-fixtures-wrapper .nav-tabs{padding-top: 1em;}
    .team-banner-wrapper .matches-banner-content h1{font-size: 1.4em;}
    .fixtures-table h3{padding-left: 15px;}
    .stats-wrapper{padding-top: 2em;grid-template-columns: 1fr;gap:10px;}
    .county-fixtures-wrapper .squad-wrapper{padding: 0 20px 2em;}
    .news-wrapper{padding: 30px 20px;}
    .news-wrapper .latest-news{padding-bottom: 0;}
    .news-wrapper .latest-news ul{gap: 20px;grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));}
    .single-news-header{padding: 20px;}
    .single-news-header h1{font-size: 1.4em;}
    .single-news-content{padding: 20px;}
    .home-content-right .home-table{padding: 20px;}
    
}

@media handheld, only screen and (max-width: 768px) {
  .about-prizes-wrapper{padding:3em;flex-wrap: wrap;}
  .latest-videos ul li iframe{min-height: 300px;}
  .about-prizes-wrapper .about-prizes{width:100%;}
  .about-prizes-wrapper .intercounty-prizes{border:none;}
  .about-prizes-wrapper .county-prizes{padding:30px 0 0;}
  footer{padding:20px;flex-wrap: wrap;}
  footer .footer-left{width:100%;padding-bottom: 15px;justify-content: center;flex-wrap: wrap;}
  footer .footer-socials{width:100%;justify-content: center;}
  footer .footer-socials p{display: none;}
  .squad-group ul{grid-template-columns: repeat(2,1fr);}
  .team-banner-wrapper .team-banner-content .team-banner-details h1{font-size: 25px;}
  .team-banner-wrapper .team-banner-content .team-banner-details .team-socials p{display: none;}
  .fixtures-table table{display: block;}
  .fixtures-table tbody{display: block;}
  .fixtures-table th{display: block;}
  .fixtures-table td{display: block;}
  .fixtures-table tr{display: block;}
  .fixtures-table thead{display: none;}
  .fixtures-table tbody{padding: 0 20px;}
  .fixtures-table tbody tr{border: 1px solid #aaa;margin-bottom: 15px;}
  .fixtures-table tbody tr td{width: 100%!important;border: none;text-align: center;padding: 8px;}
  .fixtures-table tbody td .fixture-team p{font-size: 14px;}
  .fixtures-table tbody .fixture-teams p{font-size: 14px;}
  .fixtures-table tbody td .fixture-team{padding: 0 10px;}
  .county-fixtures-wrapper .fixtures-results-wrapper{padding-bottom: 2em;}
  .county-fixtures-wrapper .nav-tabs .nav-link{font-size: 14px;}
  .county-fixtures-wrapper .squad-wrapper .squad-group ul{grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));}
  .county-fixtures-wrapper .squad-wrapper .squad-group ul li p{font-size: 15px;}
  .county-fixtures-wrapper .squad-wrapper .squad-group ul li h4{padding: 8px 12px;}
}








.about-prizes{
  position:relative;
}
.about-prizes .prizes-img{
  position: absolute;
  top: 10%;
  right: 10%;
  width: 210px;
  
}