@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, ul, li {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    text-decoration: none;
    quotes: none;
    list-style: none;
    font-family: "Lato", "Poppins", sans-serif;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
}

::-moz-selection {
    color: rgb(255, 255, 255);
    background: var(--color2);
}

::selection {
    color: rgb(255, 255, 255);
    background: var(--color2);
}

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
    display: block;
    margin: 0px;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea {
    border-radius: 0px;
    font-family: "Lato", "Poppins", Arial, Helvetica, sans-serif;
}

input[type=submit], input[type=button] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    font-family: "Lato", "Poppins", Arial, Helvetica, sans-serif;
    background: none;
    border: none;
}

span {
    font-family: "Lato", "Poppins", Arial, Helvetica, sans-serif;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}

:focus {
    outline: 0px;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

*, ::after, ::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
}

a {
    transition: all 0.9s ease 0s;
    outline: none;
    text-decoration: none;
    font-family: "Lato", "Poppins", Arial, sans-serif;
    font-weight: 400;
}

.clearfloat {
    clear: both;
}

body h1 {
    font-size: 46px;
    font-family: "Lato", "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

body h2 {
    font-size: 20px;
    font-family: "Lato", "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: var(--color1);
}

body h3 {
    font-size: 20px;
    font-family: "Lato", "Poppins", Arial, Helvetica, sans-serif;
}

body h4 {
    font-size: 16px;
    font-family: "Lato", "Poppins", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body h5 {
    font-size: 14px;
    font-family: "Lato", "Poppins", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body h6 {
    font-size: 12px;
    font-family: "Lato", "Poppins", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body p {
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    font-family: "Lato", "Poppins", Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #666;
}

img {
    width: 100%;
    display: block;
    transition: all 1s ease 0s;
    margin: auto;
}

body {
    font-family: "Lato", "Poppins", Arial, Helvetica, sans-serif;
    width: 100%;
    position: relative;
    height: 100%;
}

:root {
    --color1: #EA5A22;
    --color2: #0A5730;
    --shadow: 0 1px 8px rgba(110, 110, 110, .1);
}

.container-rigid {
    max-width: 1300px;
    width: 85%;
    margin: auto;
}

.container-flexible {
    max-width: 1300px;
    width: 80%;
    margin: auto;
}

header {
    width: 100%;
    float: left;
    position: relative;
}

.desktop-navigation {
    background: var(--color1);
    padding: 0px 7.5%;
    width: 100%;
    position: fixed;
    z-index: 9;
    float: left;
    background-image: linear-gradient(180deg, #000000cf, #0000);
    background-color: transparent;
}
.second-header-style .desktop-navigation {
    background-image: url(../images/header-bg-pattern.jpg);
    background-size: contain;
    background-position: center;
}
.second-header-style .desktop-navigation ul li{
    padding: 30px 0 70px 30px;
}

header {
    position: relative;
}

.upcoming-fixtures ol li:nth-child(even) {
    background: #E1EFD7;
}

footer {
    padding: 10px 7.5%;
}


.desktop-navigation ul {
    display: flex;
    float: right;
}

.desktop-navigation ul li {
    padding: 30px 0 30px 30px;
}

.desktop-navigation ul li a {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.desktop-navigation #matches-link {
    position: relative;
    display: flex;
    align-items: center;
}

.desktop-navigation #matches-link i {
    padding-left: 5px;
    font-size: 15px;
}

.desktop-navigation .matches-submenu {
    display: block;
    position: absolute;
    flex-wrap: wrap;
    z-index: 3;
    top: 84px;
    float: left;
    display: none;
}

.desktop-navigation .matches-submenu li {
    padding: 0 !important;
}

.desktop-navigation .matches-submenu li a {
    padding: 10px 20px;
    float: left;
    width: 100%;
    background: var(--color2);
}

.desktop-navigation .matches-submenu li a:hover {
    color: var(--color2);
    background: white;
}

.desktop-navigation .matches-submenu li:first-child a {
    border-bottom: white 1px solid;
}

.desktop-navigation .desktop-logo {
    position: absolute;
    left: 7.5%;
    top: 15px;
    width: 120px;
    z-index: 2;
}

.home-banner-wrapper {
    width: 100%;
    float: left;
    position: relative;
}

.home-banner-content {
    position: absolute;
    left: 7.5%;
    top: 50%;
    transform: translateY(-50%);
}

.home-banner-content h1 {
    color: white;
    padding-bottom: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: left;
}
.home-banner-caption-image img {
    width: 35%;
    float: left;
}
.home-banner-caption-image-right img {
    width: 35%;
    float: right;
}

.home-banner-content h1 em {
    color: var(--color1);
}

.home-banner-content p {
    color: white;
    font-size: 18px;
    padding-bottom: 30px;
    letter-spacing: 0.5px;
    text-align: left;
}

.home-banner-content a {
    color: white;
    padding: 12px 30px;
    border: 1px white solid;
    font-size: 14px;
    border-radius: 30px;
    font-weight: 700;
    background: transparent;
}

.home-banner-content a i {
    padding-left: 10px;
    font-size: 16px;
}

.home-banner-content a:hover {
    background: var(--color1);
    border-color: var(--color1);
}

.home-content-wrapper {
    width: 100%;
    float: left;
    padding: 5em 0 8em;
}

.home-content {
    display: flex;
    gap: 30px;
}

.home-content-left {
    float: left;
    width: 70%;
}

.upcoming-fixtures {
    padding-bottom: 5em;
}

.upcoming-fixtures h2 {
    padding-bottom: 20px;
    padding-left: 10px;
}

.upcoming-fixtures ol li {
    margin-bottom: 10px;
    padding: 30px 20px;
    background: #F1F1F3;
    margin: 0 10px;
}

.upcoming-fixtures .carousel__slide {
    display: block;
    border-radius:10px;
}

.upcoming-fixtures ol li .fixture-date {
    color: #363636;
    font-size: 13px;
    padding-bottom: 8px;
    font-weight: 500;
}

.upcoming-fixtures ol li .fixture-stadium {
    color: #363636;
    font-size: 13px;
    padding-top: 8px;
    font-weight: 600;
}
.upcoming-fixtures ul li:nth-child(even) {
    background: #E1EFD7;
}
.upcoming-fixtures .slick-slide {
    text-align: center;
    border-radius: 10px;
}
.latest-news ul li {
    background: #F1F1F3;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
}

.upcoming-fixtures ol li .fixture-teams p {
    padding: 0 12px;
    font-size: 14px;
    font-weight: 700;
    color: #363636;
    font-size: 13px;
}

.upcoming-fixtures ol li .fixture-team {
    display: flex;
    align-items: center;
}

.upcoming-fixtures ol li .fixture-team img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    background: white;
}

.upcoming-fixtures .carousel__prev {
    left: unset;
    right: 50px;
    top: -30px;
}

.upcoming-fixtures .carousel__next {

    right: 0px;
    top: -30px;
}

.upcoming-fixtures .carousel__next:hover, .upcoming-fixtures .carousel__prev:hover {
    color: var(--color1);
}

.upcoming-fixtures ol li .fixture-team p {
    padding: 0 8px;
    font-size: 14px;
}

.upcoming-fixtures .slick-slide {
    text-align: center;
}

.fixture-teams {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-prev, .slick-next {
    font-size: 18px;
    color: #888; /* Adjust color as needed */
    top: -45px;
}

.slick-prev {
    left: unset;
    right: 50px;
}

.slick-next {
    right: 10px;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: var(--color1);
}

.latest-news {
    padding-bottom: 5em;
}

.latest-news ul {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 10px;
}

.latest-news ul li {
    margin: 0;
}

.latest-news h2 {
    padding-bottom: 20px;
    padding-left: 10px;
    font-weight: 900;
}

.latest-news ol li {
    background: #F1F1F3;
    margin: 0 10px;
}

.latest-news ol li a {
    float: left;
    width: 100%;
    border-top: 5px transparent solid;
}

.latest-news ol li a:hover {
    border-color: var(--color1);
}

.latest-news ol li a:hover .news-read-more p {
    color: var(--color1);
}

.latest-news ol li a:hover .news-read-more i {
    color: var(--color1);
}

.latest-news ol li a .news-content-intro {
    padding: 25px;
}

.latest-news ol li a .news-content-intro p {
    color: #666;
    text-align: left;
}

.latest-news ol li a .news-content-intro p:first-child {
    font-size: 13px;
    padding-bottom: 8px;
}

.latest-news ol li a .news-content-intro h3 {
    color: #333;
    font-size: 1.3em;
    font-weight: 900;
    padding-bottom: 10px;
    text-align: left;
}

.latest-news ol li a .news-content-intro p:last-child {
    font-size: 14px;
}

.latest-news ol li a .news-read-more {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    justify-content: space-between;
}
.view-more-btn a i {
    padding-left: 10px;
}

.latest-news ol li a .news-read-more p {
    color: #666;
    font-size: 14px;
    font-weight: 700;
}

.latest-news ol li a .news-read-more i {
    color: #666;
}

.latest-news .carousel__prev {
    left: unset;
    right: 50px;
    top: -30px;
}

.latest-news .carousel__next {

    right: 0px;
    top: -30px;
}

.latest-news .carousel__next:hover, .latest-news .carousel__prev:hover {
    color: var(--color1);
}
.latest-news-home{display:flex!important}

.latest-news ul li:nth-child(1){
    width:52%;
}
.latest-news ul li:nth-child(2){
    width:38%;
}
.home-news-video{
    width: 100%;
    height: 100%;
}
.latest-news ul li:nth-child(1) iframe{
    width: 100%;
    height: 100%;
}
.latest-news-video{
    display:flex;
}

.view-more-btn {
    padding: 30px 0 0 10px;
}

.view-more-btn a {
    padding: 10px 20px;
    background: var(--color1);
    color: white;
    font-weight: 700;
    font-size: 13px;
    border-radius: 30px;
}

.view-more-btn a i {
    padding-left: 10px;
}

.shop-online {
    padding: 0 10px;
    position: relative;
}
.shop-online figure {
    border-radius: 10px;
    overflow: hidden;
}

.shop-online .shop-online-content {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.shop-online .shop-online-content h2 {
    color: white;
    font-size: 1.8em;
    padding-bottom: 15px;
    font-weight: 900;
}

.shop-online .shop-online-content a {
    color: white;
    background: var(--color2);
    padding: 8px 20px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 700;
    float: left;
}

.shop-online .shop-online-content a i {
    padding-left: 10px;
}

.top-weekly-teams {
    padding: 4em 10px 4em;
}

.top-weekly-teams h2 {
    padding-bottom: 20px;
}

.top-weekly-teams ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.top-weekly-teams ul li {
    background-color: #F1F1F3;
    padding: 25px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.top-weekly-teams ul li p {
    font-size: 14px;
    font-weight: 700;
}
.top-weekly-teams ul li:nth-child(even) {
    background-color: #E1EFD7;
}

.top-weekly-teams ul li h3 {
    padding: 5px 0;
    color: #333;
}

.top-weekly-teams ul li .matches-played {
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 10px;
}

.top-weekly-teams ul li a {
    background-color: var(--color1);
    color: white;
    border-radius: 30px;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 700;
    float: left;
}

.top-weekly-teams ul li a i {
    padding-left: 15px;
}

.top-weekly-teams ul li img {
    position: absolute;
    right: 20px;
    top: 20px;
    bottom: 20px;
    height: calc(100% - 40px);
    width: -moz-fit-content;
    width: fit-content;
}

.home-social-feeds {
    padding: 0 10px;
}

.home-social-feeds h2 {
    padding-bottom: 15px;
}

.home-social-feeds ul {
    display: flex;
    gap: 20px;
}

.home-social-feeds ul li {
    width: 48%;
}

.home-content-right {
    width: 100%;
}

.home-content-right .home-table {
    background: #F1F1F3;
    padding: 30px 30px 30px;
    margin-top: 0px;
    border-bottom: 2px solid var(--color2);
    border-radius:10px;
}

.home-content-right .group-tables h3 {
    font-size: 16px;
    font-weight: 800;
    color: #363636;
    padding-top: 10px;
}

.home-content-right .group-tables table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0 30px;
    font-weight: 500;
}

.home-content-right .group-tables th, .home-content-right .group-tables td {
    border-bottom: 1px solid #c6c6c6;
    padding: 10px 0 10px;
    text-align: left;
    font-weight: 500;
    color: #666;
    font-size: 13px;
}

.home-content-right .group-tables th {
    color: #363636;
    background: #E1EFD7;
    font-weight: 700;
    padding: 8px 0 8px;
}

.home-content-right .group-tables td:not(first-child), .home-content-right .group-tables th:not(first-child) {
    width: 20px;
    text-align: center;
}

footer {
    width: 100%;
    float: left;
    padding: 10px 7.5%;
    background: var(--color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-left {
    display: flex;
}

footer .footer-left li {
    padding-right: 25px;
}

footer .footer-left li a {
    color: white;
}

footer .footer-socials {
    display: flex;
    align-items: center;
}

footer .footer-socials p {
    color: white;
}

footer .footer-socials ul {
    display: flex;
}

footer .footer-socials ul li {
    padding-left: 20px;
}

footer .footer-socials ul li a {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    color: var(--color1);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-socials ul li a:hover {
    transform: rotate(360deg);
}

.team-banner-wrapper {
    width: 100%;
    float: left;
    position: relative;
}

.team-banner-wrapper .team-banner-content {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    left: 19.5%;
    display: flex;
    align-items: center;
}

.team-banner-wrapper .team-banner-content figure {
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    display: flex;
    margin-right: 15px;
}

.team-banner-wrapper .team-banner-content figure img {
    margin: auto;
    width: 60px;
    height: unset !important;
}

.team-banner-wrapper .team-banner-content .team-banner-details {
    border-left: 1px white solid;
    padding-left: 15px;
}

.team-banner-wrapper .team-banner-content .team-banner-details h1 {
    color: white;
}

.team-banner-wrapper .team-banner-content .team-banner-details .team-socials {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.team-banner-wrapper .team-banner-content .team-banner-details .team-socials p {
    color: white;
}

.team-banner-wrapper .team-banner-content .team-banner-details .team-socials ul {
    display: flex;
}

.team-banner-wrapper .team-banner-content .team-banner-details .team-socials ul li {
    padding-left: 15px;
}

.team-banner-wrapper .team-banner-content .team-banner-details .team-socials ul li a {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    color: var(--color1);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.team-banner-wrapper .team-banner-content .team-banner-details .team-socials ul li a:hover {
    transform: rotate(360deg);
}

.team-details-tabs-wrapper {
    width: 100%;
    float: left;
}

.team-details-tabs-wrapper nav {
    background: #F1F1F3;
    padding: 0px 0;
}

.team-details-tabs-wrapper .nav-link {
    color: #363636;
    padding: 20px 3px 20px 3px;
    margin-right: 30px;
    text-transform: uppercase;
}

.team-details-tabs-wrapper .nav-tabs .nav-item.show .nav-link, .team-details-tabs-wrapper .nav-tabs .nav-link.active {
    color: var(--color1);
    font-weight: 900;
    border: none;
    border-bottom: 3px var(--color1) solid;
    background: none;
}

.team-details-tabs-wrapper .upcoming-fixtures {
    padding-top: 2.5em;
}

.previous-matches-wrapper {
    background: url("../images/previous-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.previous-matches {
    padding: 6em 0 7em !important;
}

.previous-matches h2 {
    color: white;
}

.previous-matches ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.previous-matches ul li {
    text-align: center;
}

.previous-matches .view-more-btn {
    padding: 40px 0 0 10px;
}

.latest-videos {
    padding: 6em 10px 10em;
}

.latest-videos h2 {
    padding-bottom: 20px;
}

.latest-videos ul {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.latest-videos ul li {
    background: #F1F1F3;
}

.latest-videos ul li iframe {
    width: 100%;
    min-height: 270px;
    height: 100%;
}

.latest-videos ul li .latest-video-details {
    padding: 25px 30px 30px;
}

.latest-videos ul li .latest-video-details p {
    padding-bottom: 5px;
    font-size: 13px;
}

.latest-videos ul li .latest-video-details h3 {
    font-weight: 700;
    font-size: 1.3em;
}

.squad-wrapper {
    padding: 5em 0 10em;
}

.squad-coach {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1.5px #d9d9d9 solid;
}

.squad-coach figure {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}

.squad-coach .coach-details {
    padding-left: 20px;
}

.squad-coach .coach-details p {
    font-size: 14px;
}

.squad-coach .coach-details h3 {
    font-weight: 700;
    font-size: 2em;
    color: #555;
}

.squad-group {
    padding-top: 3em;
}

.squad-group h2 {
    padding-bottom: 20px;
}

.squad-group ul {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.squad-group ul li {
    background: #F1F1F3;
}

.squad-group ul li figure {
    /*padding: 20% 15% 0;*/
}

.squad-group ul li h4 {
    width: 100%;
    background: var(--color1);
    color: white;
    padding: 15px 20px;
}

.fixtures-results-wrapper {
    padding: 4em 0 4em;
}

.fixtures-results-wrapper h2 {
    padding-bottom: 20px;
}

.fixtures-results-wrapper .select-fixtures {
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    float: left;
}

.fixtures-results-wrapper .select-fixtures .nice-select {
    border-radius: 30px;
    margin-right: 20px;
    height: 35px;
    line-height: 31px;
    border-color: #777;
    width: 200px;
}

.fixtures-results-wrapper .select-fixtures .nice-select .list {
    width: 200px;
}

.fixtures-table h3 {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 900;
    color: #363636;
}

.fixtures-table table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0 30px;
    font-weight: 500;
}

.fixtures-table thead th {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    padding: 10px 15px 10px;
    text-align: left;
    font-weight: 700;
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
}

.fixtures-table thead th:first-child {
    width: 15%;
}

.fixtures-table thead th:nth-child(2) {
    width: 70%;
    text-align: center;
}

.fixtures-table thead th:nth-child(3) {
    width: 15%;
}

.fixtures-table tbody td {
    border-bottom: 1px solid #ebebeb;
    padding: 15px 15px 15px;
    text-align: left;
    font-weight: 500;
    color: #666;
    font-size: 14px;
}

.fixtures-table tbody td .fixture-team {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.fixtures-table tbody td .fixture-team figure {
    width: 50px;
    height: 50px;
    background: #E1EFD7;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixtures-table tbody td .fixture-team img {
    width: 35px;
    margin: auto;
}

.fixtures-table tbody td .fixture-team p {
    padding: 0 10px;
    color: #0A5730;
}

.fixtures-table tbody td:first-child {
    width: 15%;
}

.fixtures-table tbody td:nth-child(2) {
    width: 70%;
}

.fixtures-table tbody td:nth-child(3) {
    width: 15%;
}

.fixtures-table tr:nth-child(even) td {
    background: #e1efd7;
}

.table-tab-wrapper .previous-matches-wrapper {
    background: none;
}

.table-tab-wrapper .previous-matches-wrapper h2 {
    color: var(--color1);
}

.table-tab-wrapper .previous-matches {
    padding: 4em 0 5em !important;
}

.supercup-table {
    padding: 0 10px 8em;
}

.supercup-table h2 {
    padding-bottom: 15px;
}

.supercup-table table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0 30px;
    font-weight: 500;
}

.supercup-table thead th {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    padding: 10px 15px 10px;
    text-align: left;
    font-weight: 700;
    color: #333;
    font-size: 13px;
    text-transform: uppercase;
    background: #E1EFD7;
}

.supercup-table thead th:first-child {
    width: 40px;
}

.supercup-table tbody td {
    border-bottom: 1px solid #ebebeb;
    padding: 12px 15px 12px;
    text-align: left;
    font-weight: 500;
    color: #666;
    font-size: 14px;
}

.supercup-table tbody td:nth-child(2) {
    min-width: 200px;
}

.supercup-table tbody td:nth-child(21) {
    width: 30px;
}

.dashboard-aside-wrapper {
    box-shadow: 0 1px 8px rgba(110, 110, 110, 0.1);
    min-height: 100vh;
    height: 100%;
}

.dashboard-aside-wrapper .logo {
    max-width: 100px;
    height: 100px;
    border: 1px var(--color3) solid;
    margin: auto;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}

.dashboard-aside-wrapper .logo img {
    width: 85%;
}

.dashboard-aside-wrapper ul li a {
    color: #666666;
}

.dashboard-aside-wrapper ul li a p i {
    font-size: 18px;
}

.dashboard-aside-wrapper ul li a i {
    font-size: 14px;
    height: 15px;
}

article {
    background: #ffffff;
    float: right;
}

.search-profile .search-container {
    height: -moz-fit-content;
    height: fit-content;
    padding-right: 30px;
}

.search-profile .search-container input {
    border: none;
    background: transparent;
}

.search-profile .search-container input::-moz-placeholder {
    font-size: 14px;
}

.search-profile .search-container input::placeholder {
    font-size: 14px;
}

.search-profile .search-container button {
    font-size: 16px;
    color: var(--color2);
}

.search-profile .profile-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.search-profile .profile-name h3 {
    font-weight: 600;
    font-size: 16px;
}

.search-profile .profile-name p {
    font-size: 14px;
    line-height: 15px;
}

.dashboard-card {
    background: white;
    min-height: 400px;
    box-shadow: var(--shadow);
}

.dashboard-2cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.dashboard-3cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dashboard-3cards-grid .dashboard-card {
    min-height: 300px;
}

.about-content-wrapper {
    width: 100%;
    float: left;
    padding: 10em 7.5% 5em 7.5%;
    display: grid;
    gap: 30px;
    grid-template-columns: 3fr 3fr;
}

.about-content-wrapper .about-content h2 {
    padding-bottom: 10px;
}

.about-content-wrapper .about-content p {
    padding-bottom: 8px;
}

.about-content-wrapper .about-content ul {
    padding-left: 20px;
}

.about-content-wrapper .about-content ul li {
    list-style-type: disc;
    font-size: 15px;
    color: #666666;
}

.about-content-wrapper .about-video iframe {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 350px;
    max-height: 500px;
}

.about-prizes-wrapper {
    width: 100%;
    float: left;
    padding: 0;
    display: flex;
    background: url("../images/prizes-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-prizes-wrapper .about-prizes {
    width: 50%;
}

.about-prizes-wrapper .about-prizes h2 {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 4px;
    border-bottom: 1px white solid;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 30px;
}

.about-prizes-wrapper .about-prizes h4 {
    color: white;
    padding-bottom: 20px;
}

.about-prizes-wrapper .about-prizes .winner {
    font-size: 1.5em;
}

.about-prizes-wrapper .about-prizes .runners-up {
    font-size: 1.3em;
}

.about-prizes-wrapper .about-prizes .third-place {
    font-size: 1.1em;
}

.about-prizes-wrapper .about-prizes h5 {
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    padding-bottom: 20px;
}

.about-prizes-wrapper .about-prizes h5 img {
    width: 20px;
    margin: 0 10px 0 0;
}

.about-prizes-wrapper .intercounty-prizes {
    border-right: 1px white solid;
}

.about-prizes-wrapper .county-prizes {
    padding-left: 3em;
    background: #ea5a2230
}
.about-prizes-text{
    background: #ffffff24;
    padding:3em
}

.teams-wrapper {
    width: 100%;
    float: left;
    padding: 1em 7.5% 2em;
}

.teams-wrapper .top-weekly-teams ul {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.teams-wrapper .teams-title-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.teams-wrapper .teams-title-filter h2 {
    padding-bottom: 0;
}

.teams-wrapper .teams-title-filter .nice-select {
    border-radius: 30px;
    margin-right: 20px;
    height: 35px;
    line-height: 31px;
    border-color: #777;
    width: 200px;
}

.teams-wrapper .teams-title-filter .nice-select .list {
    width: 200px;
    gap: 0;
}

.teams-wrapper .teams-title-filter .nice-select .option {
    padding: 0 19px 0;
}

.news-wrapper {
    width: 100%;
    float: left;
    padding: 5em 7.5%;
}

.news-wrapper .latest-news ul {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.news-wrapper .latest-news ul li {
    margin: 0;
}

.matches-banner-content h1 {
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
}

.county-fixtures-wrapper .fixtures-results-wrapper {
    padding: 2em 0 4em;
}

.county-fixtures-wrapper .fixtures-results-wrapper .fixtures-table h3 {
    color: #0A5730;
}

.county-fixtures-wrapper .supercup-table {
    padding-top: 2em;
}

.county-fixtures-wrapper .supercup-table table {
    padding-top: 2em;
}

.county-fixtures-wrapper .supercup-table h3 {
    color: var(--color2);
    font-size: 16px;
    font-weight: 800;
}

.county-fixtures-wrapper .squad-wrapper {
    padding: 0 0 8em;
}

.county-fixtures-wrapper .squad-wrapper .squad-group ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.county-fixtures-wrapper .squad-wrapper .squad-group ul li h4 {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
}

.county-fixtures-wrapper .squad-wrapper .squad-group ul li p {
    color: white;
    font-weight: 700;
}

.county-fixtures-wrapper .squad-wrapper .squad-group ul li .team-name {
    font-size: 14px;
}

/*# sourceMappingURL=style.blade.php.map */
.fixture_data {
    padding-top: 30px;
}

.fixture_data ol {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.fixture_data .upcoming-fixtures ol li {
    margin: 0;
}

.upcoming-fixtures ol li .fixture-date, .upcoming-fixtures ol li .fixture-stadium {
    text-align: center;
}


.btn-outline-warning {
    border: 1px solid var(--color1);
    color: var(--color1)
}

.btn-outline-warning:hover {
    color: white;
    background-color: var(--color1);
    border-radius: 5px;
    border: 1px solid var(--color1);
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: var(--color1);
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover {
    color: var(--color1);
}

.carousel__pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    line-height: 0;
    margin: 10px 0 0;
    padding: 0;
    position: absolute;
    left: 50%;
    bottom: 20px;
}

.carousel__pagination-button::after {
    display: block;
    content: '';
    /*background-color: var(--vc-pgn-background-color);*/
    width: 8px !important;
    height: 8px !important;
    border-radius: 8px !important;
    background-color: white !important;
}

.carousel__pagination-button--active:after {
    background-color: var(--color1) !important;
    width: 20px !important;
}


@import url('https://fonts.cdnfonts.com/css/lato');
.single-news-header {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    padding: 2em 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 45%);
}

.single-news-header h1 {
    color: white;
    padding-bottom: 15px;
    border-bottom: 1px rgba(255, 255, 255, 0.295) solid;
}

.single-news-header .date-share {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.single-news-header .date-share p {
    color: white;
}

.single-news-header .news-share {
    display: flex;
}

.single-news-header .news-share p {
    padding-right: 5px;
    font-weight: 600;
}

.single-news-header .news-share ul {
    display: flex;
}

.single-news-header .news-share ul li {
    padding-left: 15px;
}

.single-news-header .news-share ul li a {
    color: white;
}

.single-news-content-wrapper {
    width: 100%;
    float: left;
}

.single-news-content {
    padding: 5em 0 6em;
}

.single-news-content p {
    padding-bottom: 15px;
}


.mobile-navigation {
    width: 100%;
    float: left;
    background-color: var(--color1);
    position: relative;
    padding: 0 0 0;
    display: none;
}

.visible-mobile {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 7px;
    align-items: center;
}

.mobile-logo-wrapper img {
    width: 50px;
    margin: unset;
}

.mobile-search {
    width: 100%;
    float: left;
    position: relative;
}

.mobile-search input {
    width: 100%;
    float: left;
    background-color: #9aa7c2;
    border: none;
    padding: 1.5em 5em 1.5em 1.5em;
}

.mobile-search button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color1);
    /* width: 2.3em;
      height: 2.3em; */
    border: none;
    margin: auto;
    text-align: center;
    color: #9aa7c3;
    padding: 0 0 1px 1px;
    cursor: pointer;
    transition: all 0.9s ease;
    font-size: 16px;
    padding: 0 15px 0 15px;
}

.mobile-search button:hover {
    background-color: var(--color2);
    color: var(--color1);
    transition: all 0.9s ease;
}

.mobile-navigation ul {
    width: 100%;
    margin: auto;
    padding: 0px 0 0 0;
    float: left;
    background-color: #eaeaea;
}

.mobile-navigation ul li {
    display: block;
    width: 100%;
    float: left;
    text-align: left;
    /* border-bottom: 1px solid #b5c11a; */
}

.mobile-navigation ul li a {
    color: var(--color1);
    text-transform: uppercase;
    font-weight: 600;
    padding: 14px 20px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #dadada;
    font-size: 16px;
    color: #333;
}

.mobile-navigation ul li a.active-mobile-link {

}

.hidden-mobile {
    width: 100%;
    float: left;
    display: none;
}

.drop-bars {
    float: right;
    padding: 0 2%;
    color: #ffffff;
    font-size: 2em !important;
    cursor: pointer;
}

#toggle {
    display: none;
}

#cross {
    display: none;
}

#toggle + label {
    width: auto;
}

#toggle + label:before {
    display: none;
}

#toggle + label:after {
    display: none;
}

#toggle + label i {
    font-size: 2em;
    color: var(--color4);
    color: white;
}

#toggle:checked + label i#bars {
    display: none;
}

#toggle:checked + label i#cross {
    display: block;
}

#toggle:checked ~ #menu {
    height: 85px;
}

.mobile-droplist a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden-mobile .mobile-dropdown {
    background: #eff3f4;
    display: none;
}

.home-banner-content {
    position: absolute;
    left: unset;
    transform: unset;
    top: 0;
    width: 100%;
    bottom: 0;
    padding: 2em 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 85%);*/
}

.home-social-feeds {
    /* display: none; */
}

.top-weekly-teams ul {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.home-content-right {
    width: 30%;
}

.latest-news ul li a {
    background: #F1F1F3;
}

.upcoming-fixtures ul li .fixture-teams p {
    padding: 0;
}

.upcoming-fixtures ul li .fixture-teams p span {
    padding: 12px;
}


.previous-matches ul {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 10px;
}

.previous-matches ul li {
    margin: 0;
}

.county-filter {
    width: unset;
    width: 80%;
}

.team-banner-wrapper .matches-banner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7.5%;
    display: flex;
    align-items: center;
}

.supercup-table tbody td {
    padding: 12px 5px;
    text-align: center;
}

.supercup-table thead th {
    padding: 12px 5px;
    text-align: center;
}

.supercup-table thead th:first-child {
    padding-left: 12px;
}

.stats-wrapper {
    width: 80%;
}

.stats-wrapper .stats-group td {
    width: 25%;
}

.stats-wrapper .stats-group td:first-child {
    width: 50%;
}

.stats-wrapper .stats-group th {
    width: 25%;
}

.stats-wrapper .stats-group th:first-child {
    width: 50%;
}

.county-fixtures-wrapper .squad-wrapper .squad-group ul {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.top-weekly-teams ol li {
    background-color: #F1F1F3;
    padding: 25px;
    position: relative;
    display: block;
    margin-right: 20px;
    text-align: left;
    border-radius:10px;
}

.top-weekly-teams ol li img {
    position: absolute;
    right: 20px;
    top: 20px;
    bottom: 20px;
    height: calc(100% - 40px);
    width: -moz-fit-content;
    width: fit-content;
}

.top-weekly-teams ol li p {
    font-size: 14px;
    font-weight: 700;
}

.top-weekly-teams ol li h3 {
    padding: 5px 0;
    color: #333;
}

.top-weekly-teams ol li .matches-played {
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 10px;
}

.top-weekly-teams ol li a {
    background-color: var(--color1);
    color: white;
    border-radius: 30px;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 700;
    float: left;
}

.top-weekly-teams ol li a i {
    padding-left: 15px;
}

.top-weekly-teams .carousel__prev, .top-weekly-teams .carousel__next {
    top: -30px;
}

.top-weekly-teams .carousel__prev {
    right: 30px !important;
    left: unset;
}

.top-weekly-teams .carousel__next {
    right: -10px !important;
}

.home-table h2 {
    display: flex;
    justify-content: space-between;
}


@media handheld, only screen and (max-width: 1400px) {
    .home-content {
        flex-wrap: wrap;
    }

    .home-content-left {
        width: 100%;
    }

    .home-content-right {
        width: 100%;
    }
}

@media handheld, only screen and (max-width: 1200px) {
    .about-content-wrapper {
        grid-template-columns: 1fr;
    }

    .about-content-wrapper .about-video iframe {
        min-height: 400px;
    }
}

@media handheld, only screen and (max-width: 960px) {
    .mobile-navigation {
        display: block;
    }

    .desktop-navigation {
        display: none;
    }

    .home-banner-content {
        padding: 2em 20px;
    }

    .home-banner-content h1 {
        padding-bottom: 10px;
        font-size: 1.4em;
    }

    .home-banner-content p {
        font-size: 14px;
    }

    .home-content-wrapper {
        padding: 2em 0 3em;
    }

    .container-flexible {
        width: 100%;
        padding: 0 10px;
    }

    .upcoming-fixtures h2 {
        padding-bottom: 10px;
    }

    body h2 {
        font-size: 18px;
    }

    .upcoming-fixtures {
        padding-bottom: 2em;
    }

    .about-content-wrapper {
        padding: 30px 20px;
        gap: 20px;
    }

    .about-prizes-wrapper {
        padding: 3em;
    }

    footer {
        padding: 20px;
    }

    .top-weekly-teams {
        padding: 20px;
    }

    .teams-wrapper {
        padding: 10px 0;
    }

    .team-banner-wrapper .team-banner-content {
        position: unset;
        transform: none;
        padding: 20px;
    }

    .team-banner-wrapper .team-banner-content figure {
        background: #E1EFD7;
    }

    .team-banner-wrapper .team-banner-content .team-banner-details h1 {
        color: #555;
        font-size: 35px;
    }

    .team-banner-wrapper .team-banner-content .team-banner-details .team-socials p {
        color: #666;
    }

    .team-banner-wrapper .team-banner-content .team-banner-details {
        border-color: #d9d9d9;
    }

    .table-tab-wrapper .previous-matches {
        padding: 2em 0 !important;
    }

    .supercup-table h2 {
        padding-bottom: 5px;
    }

    .team-details-tabs-wrapper .upcoming-fixtures {
        padding: 2em 10px !important;
    }

    .latest-videos {
        padding: 30px 20px;
    }

    .latest-videos ul {
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .latest-videos h2 {
        padding-bottom: 10px;
    }

    .latest-videos ul li iframe {
        min-height: 400px;
    }

    .squad-coach {
        padding: 20px 0;
    }

    .squad-coach .coach-details h3 {
        font-size: 1.4em;
    }

    .squad-coach figure {
        width: 70px;
        height: 70px;
    }

    .squad-group {
        padding-top: 2em;
    }

    .squad-wrapper {
        padding: 0 20px 30px;
    }

    .squad-group ul li h4 {
        padding: 10px;
    }

    .supercup-table tbody td:nth-child(2) {
        min-width: 100%;
    }

    .team-banner-wrapper .matches-banner-content {
        position: absolute;
        transform: translateY(-50%);
        left: 0;
    }

    .county-fixtures-wrapper .nav-tabs {
        padding-top: 1em;
    }

    .team-banner-wrapper .matches-banner-content h1 {
        font-size: 1.4em;
    }

    .fixtures-table h3 {
        padding-left: 15px;
    }

    .stats-wrapper {
        padding-top: 2em;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .county-fixtures-wrapper .squad-wrapper {
        padding: 0 20px 2em;
    }

    .news-wrapper {
        padding: 30px 20px;
    }

    .news-wrapper .latest-news {
        padding-bottom: 0;
    }

    .news-wrapper .latest-news ul {
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .single-news-header {
        padding: 20px;
    }

    .single-news-header h1 {
        font-size: 1.4em;
    }

    .single-news-content {
        padding: 20px;
    }

    .home-content-right .home-table {
        padding: 20px;
    }
}

@media handheld, only screen and (max-width: 768px) {
    .about-prizes-wrapper {
        padding: 3em;
        flex-wrap: wrap;
    }

    .latest-videos ul li iframe {
        min-height: 300px;
    }

    .about-prizes-wrapper .about-prizes {
        width: 100%;
    }

    .about-prizes-wrapper .intercounty-prizes {
        border: none;
    }

    .about-prizes-wrapper .county-prizes {
        padding: 30px 0 0;
    }

    footer {
        padding: 20px;
        flex-wrap: wrap;
    }

    footer .footer-left {
        width: 100%;
        padding-bottom: 15px;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer .footer-socials {
        width: 100%;
        justify-content: center;
    }

    footer .footer-socials p {
        display: none;
    }

    .squad-group ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .team-banner-wrapper .team-banner-content .team-banner-details h1 {
        font-size: 25px;
    }

    .team-banner-wrapper .team-banner-content .team-banner-details .team-socials p {
        display: none;
    }

    .fixtures-table table {
        display: block;
    }

    .fixtures-table tbody {
        display: block;
    }

    .fixtures-table th {
        display: block;
    }

    .fixtures-table td {
        display: block;
    }

    .fixtures-table tr {
        display: block;
    }

    .fixtures-table thead {
        display: none;
    }

    .fixtures-table tbody {
        padding: 0 20px;
    }

    .fixtures-table tbody tr {
        border: 1px solid #aaa;
        margin-bottom: 15px;
    }

    .fixtures-table tbody tr td {
        width: 100% !important;
        border: none;
        text-align: center;
        padding: 8px;
    }

    .fixtures-table tbody td .fixture-team p {
        font-size: 14px;
    }

    .fixtures-table tbody .fixture-teams p {
        font-size: 14px;
    }

    .fixtures-table tbody td .fixture-team {
        padding: 0 10px;
    }

    .county-fixtures-wrapper .fixtures-results-wrapper {
        padding-bottom: 2em;
    }

    .county-fixtures-wrapper .nav-tabs .nav-link {
        font-size: 14px;
    }

    .county-fixtures-wrapper .squad-wrapper .squad-group ul {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .county-fixtures-wrapper .squad-wrapper .squad-group ul li p {
        font-size: 15px;
    }

    .county-fixtures-wrapper .squad-wrapper .squad-group ul li h4 {
        padding: 8px 12px;
    }
}


